/*
 * Import twitter bootstrap
 */
@import "../bootstrap/css/bootstrap.css"
@import "../bootstrap/css/bootstrap-responsive.css"

global-reset()

body
  padding: 60px
  background-color: #f5f5f5

.topbar
  a
    color $white
