extend layout

block header
  h1 #{title}

block content
  h1 Description
  br
  p The Iris helmet was put together by three Purdue CS students at MHacks.  It tweeted what you read.  Now, we've built a webapp to better experience the results!
